$black: #000000;
$white: #FFFFFF;
$gray: #AAAAAA;
$blue: #1A9AE1;

$primary-color: #003333;
$secondary-color: #669999;
$tertiary-color: #999999;

.color--blue {
  color: $blue;
}

.color--white {
  color: $white;
}
