.header {
  background-color: $primary-color;
}

.content {
  background-color: $secondary-color;

  .content__intro {
    max-width: 1000px;
  }

  a, a:active, a:visited {
    color: $white;
    text-decoration: underline;
  }

  a:hover {
    color: $primary-color;
  }
}

.footer {
  background-color: $secondary-color;

  a, a:active, a:visited {
    color: $white;
  }

  a:hover {
    color: $primary-color;
  }
}
