$main-title-color: #28292d;
$secondary-font-family: 'Georgia', 'Times New Roman';

.k-night-title {
  font-size: 36pt;
  font-family: $secondary-font-family;
  text-align: center;
  text-transform: uppercase;
  color: $main-title-color;

  @media screen and (max-width: $small-screen-size) {
    font-size: 24pt;
  }
}

.k-night-subtitle {
  font-size: 24pt;
  font-family: $secondary-font-family;
  text-align: center;
  color: #515151;

  @media screen and (max-width: $small-screen-size) {
    font-size: 18pt;
  }
}

.k-night-title-icon {
  display: block;
  margin-bottom: 15px;
}

.k-night-header {
  background-color: rgb(49, 50, 55);
  text-align: center;

  padding-top: 100px;

  background-image: url("/knight2015/background.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.k-night-header__container {
  display: inline-block;
  text-transform: uppercase;
}

.k-night-header__subtitle-container__line {
  height: 1px;
  background-color: #515151;
  -webkit-align-self: center;
}

.k-night-header__title {
  display: inline;
  font-size: 120px;
  font-weight: 900;

  @media screen and (max-width: $small-screen-size) {
    font-size: 70px;
  }
}

.k-night-header__subtitle {
  font-weight: 900;
  letter-spacing: 8px;
}

.k-night-header__location {
  font-family: $secondary-font-family;
  font-size: 20px;
  font-style: italic;

  small {
    font-size: 15px;
  }

  .date {
    display: inline;

    @media screen and (max-width: $small-screen-size) {
      display: block;
    }

    &:after {
      content: "|";
      margin: 0 8px;

      @media screen and (max-width: $small-screen-size) {
        content: "";
        margin: 0;
      }
    }
  }

  .time {

    display: inline;

    @media screen and (max-width: $small-screen-size) {
      display: block;
    }
  }
}

.k-night-header__rsvp-button {
  color: $white;
  font-size: 20px;
  background-color: #303136;
  border: 1px #1B84BD solid;
  padding: 8px 20px;

  &:hover, &:active {
    color: #1B84BD;
    text-decoration: none;
  }
}

.k-night-section {
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 50px;
}

.k-night-section--timetable {
  table {
    margin: 0 auto;
  }

  .time {
    color: #717171;
    font-family: $secondary-font-family;
    font-size: 17px;
    font-style: italic;
    text-align: right;
    width: 200px;
    padding-bottom: 15px;

    @media screen and (max-width: $small-screen-size) {
      width: 120px;
      font-size: 12px;
      padding-bottom: 12px;
    }
  }

  .event {
    padding-left: 20px;
    color: $black;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 15px;

    @media screen and (max-width: $small-screen-size) {
      font-size: 18px;
      padding-bottom: 15px;
    }
  }
}

.k-night-section--speakers {
  background-color: #f7f7f7;
}

.k-night-section--location {
  background-color: #2C2D33;
}

.k-night-sponsors__container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $tablet-size) {
    width: 100%;
  }

}

.k-night-sponsors__container__item {

  img {
    width: 200px;
  }

  @media screen and (max-width: $tablet-size) {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    img {
      width: 200px;
    }
  }
}

.k-night-section--location__title {
  text-align: center;
  color: $white;
}

.k-night-section--location__item {

  a, a:hover, a:active {
    color: $white;
    text-decoration: underline;
  }

  .address-phone {
    font-size: 20px;
  }

  text-align: center;

  @media screen and (max-width: $tablet-size) {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }
}

.k-night-location-title {
  text-align: center;
}

.k-night-speaker {
  padding: 30px;
  color: $black;
  text-align: center;
  height: 300px;

  @media screen and (max-width: $small-screen-size) {
    font-size: 14px;
    height: auto;
  }

  .job-title {
    font-size: 17px;

    @media screen and (max-width: $small-screen-size) {
      font-size: 14px;
    }
  }

  .group {
    color: $blue;
    font-weight: 200;
    font-size: 15px;
  }

  .topic {
    line-height: 35px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;

    @media screen and (max-width: $small-screen-size) {
      font-size: 20px;
      line-height: 30px;
      width: 250px;
    }
  }

  .name {
    @media screen and (max-width: $small-screen-size) {
      font-size: 25px;
      line-height: 30px;
    }
  }
}
