$spacing-tiny: 8px;
$spacing-small: $spacing-tiny * 2;
$spacing: $spacing-small * 2;
$spacing-large: $spacing + $spacing-small;
$spacing-huge: $spacing * 2;

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.padding {
  padding: $spacing;
}

.padding-tiny--left {
  padding-left: $spacing-tiny;
}

.padding-small {
  padding: $spacing-small;
}

.padding-small--right {
  padding-right: $spacing-small;
}

.padding-large {
  padding: $spacing-large;
}

.padding--sides {
  padding-left: $spacing;
  padding-right: $spacing;
}

.padding--ends {
  padding-top: $spacing;
  padding-bottom: $spacing;
}

.padding-large--ends {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
}

.padding-huge--ends {
  padding-top: $spacing-huge;
  padding-bottom: $spacing-huge;
}

.padding-huge {
  padding: $spacing-huge;
}

.padding-huge--bottom {
  padding-bottom: $spacing-huge;
}

.margin--sides {
  margin-left: $spacing;
  margin-right: $spacing;
}

.margin--ends {
  margin-top: $spacing;
  margin-bottom: $spacing;
}

.margin-large--ends {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}

.margin-large--bottom {
  margin-bottom: $spacing-large;
}

.margin-small--sides {
  margin-left: $spacing-small;
  margin-right: $spacing-small;
}

.margin-tiny--bottom {
  margin-bottom: $spacing-tiny;
}

.margin--bottom {
  margin-bottom: $spacing;
}

.margin-large--bottom {
  margin-bottom: $spacing-large;
}

.margin-huge--bottom {
  margin-bottom: $spacing-huge;
}

.flexbox {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.flexbox--column {
  height: 100%;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
}

.flexbox--center {
  align-items: center;
  -webkit-align-items: center;
}

.flex--none {
  flex: none;
  -ms-flex: none;
  -webkit-flex: none;
}

.flex--one {
  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
}

.text--center {
  text-align: center;
}
